html, body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.background-intro {
  z-index: -1;
}

#backgroundVideo {
  width: auto; /* Desired width */
  height: auto; /* Desired height */
  overflow: hidden;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo-overlay {
  width: 1000px;
  height: auto;
  position: absolute;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.position {
  margin-top: 750px;
  background: #9b8746;
  width: 100%;
  padding: 20px;
  position: relative;
  z-index: 3;
}

.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  background-color: #333;
  position: sticky;
  top: 0;
  left: 0;  
  z-index: 1000;
  padding: 15px 40px;
  font-family: "Anta", sans-serif;
}

.navbar .logo img {
  width: 300px; 
  height: auto; 
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 30px; 
  padding: 0;
  margin: 0;
}

.nav-links li {
  background-color: #444; 
  border-radius: 8px; 
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block; 
}

.nav-links li:hover {
  background-color: #555; 
  transform: translateY(-2px); 
}

.nav-links li a:hover {
  color: #333;
  background-color: #ffffff;
  border-radius: 8px;
}

.nav-bottom {
  display: flex;
  justify-content: center;
  background-color: #333;
  padding: 15px 0;
}

.nav-bottom-links {
  list-style: none;
  display: flex;
  gap: 30px;
  padding: 0;
  margin: 0;
}

.nav-bottom-links li {
  background-color: #444; 
  border-radius: 8px;
  padding: 10px 20px;
  transition: background-color 0.3s ease, transform 0.2s ease;
}

.nav-bottom-links li a {
  color: white;
  text-decoration: none;
  font-size: 18px;
  display: block;
}

.nav-bottom-links li:hover {
  background-color: #555; 
  transform: translateY(-2px); 
}

.nav-bottom-links li a:hover {
  color: #333;
  background-color: #ffffff;
  border-radius: 8px;
}

#arrow-right li a:hover {
  text-decoration: underline;
  position: relative;
  animation-name: arrow-right;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

#arrow-left li a:hover {
  text-decoration: underline;
  position: relative;
  animation-name: arrow-left;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-out;
}

@keyframes arrow-right {
  from { left: 0px; }
  to { left: 5px; }
}

@keyframes arrow-left {
  from { right: 0px; }
  to { right: 5px; }
}

body {
  background-color: #9b8746;
  font-family: "Audiowide", sans-serif;
}

h1 {
   text-align: center;
}
  
p {
  color: #ffffff;
  font-size: 18px;
  line-height: 1.5;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: justify;
  font-family: "Sansation", sans-serif;
}