{% extends 'layout.html' %}
{% block content %}

<p>builds</p>

<p>Turrets</p>

<p>
    Duo
</p>

<p>
    Scatter
</p>

<p>
    Scorch
</p>

<p>
    Wave
</p>

<p>
    Lancer
</p>

<p>
    Arc
</p>

<p>
    Parallax
</p>

<p>
    Swarmer
</p>

<p>
    Salvo
</p>

<p>
    Segment
</p>

<p>
    Tsunami
</p>

<p>
    Fuse
</p>

<p>
    Ripple
</p>

<p>
    Cyclone
</p>

<p>
    Foreshadow
</p>

<p>
    Spectre
</p>

<p>
    Meltdown
</p>

<p>Extractors</p>

<p>
    Mechanical Drill
</p>

<p>
    Pneumatic Drill
</p>

<p>
    Laser Drill
</p>

<p>
    Airblast Drill
</p>

<p>
    Water Extractor
</p>

<p>
    Cultivator
</p>

<p>
    Oil Extractor
</p>

<p>Transportation</p>

<p>
    Conveyor
</p>

<p>
    Titanium Conveyor
</p>

<p>
    Plastanium Conveyor
</p>

<p>
    Armored Conveyor
</p>

<p>
    Junction
</p>

<p>
    Bridge Conveyor
</p>

<p>
    Phase conveyor
</p>

<p>
    Sorter
</p>

<p>
    Inverted Sorter
</p>

<p>
    Router
</p>

<p>
    Distributor
</p>

<p>
    Overflow Gate
</p>

<p>
    Underflow Gate
</p>

<p>
    Mass Driver
</p>

<p>Liquids</p>

<p>
    Mechanical Pump
</p>

<p>
    Rotary Pump
</p>

<p>
    Impulse Pump
</p>

<p>
    Conduit
</p>

<p>
    Pulse Conduit
</p>

<p>
    Plated Conduit
</p>

<p>
    Liquid Router
</p>

<p>
    Liquid Container
</p>

<p>
    Liquid Tank
</p>

<p>
    Liquid junction
</p>

<p>
    Bridge Conduit
</p>

<p>
    Phase Conduit
</p>

<P>Power</P>

<p>
    Power Node
</p>

<p>
    Large Power Node
</p>

<p>
    Surge Tower
</p>

<p>
    Battery Diode
</p>

<p>
    Battery
</p>

<p>
    Large Battery
</p>

<p>
    Combustion Generator
</p>

<p>
    Thermal Generator
</p>

<p>
    Steam Generator
</p>

<p>
    Differental Generator
</p>

<p>
    RTG Generator
</p>

<p>
    Solar Panel
</p>

<p>
    Large Solar Panel
</p>

<p>
    Thorium Reactor
</p>

<p>
    Impact reactor
</p>

<p>Walls</p>

<p>
    Copper Wall
</p>

<p>
    Titanium Wall
</p>

<p>
    Plastanium Wall
</p>

<p>
    Thorium Wall
</p>

<p>
    Phase Wall
</p>

<p>
    Surge Wall
</p>

<p>
    Door
</p>

<p>Resources and Production</p>

<p>
    Graphite Press
</p>

<p>
    Multi-Press
</p>

<p>
    Silicon Smelter
</p>

<p>
    Silicon Crucible
</p>

<p>
    Kiln
</p>

<p>
    Plastanium Compressor
</p>

<p>
    Phase Weaver
</p>

<p>
    Surge Smelter
</p>

<p>
    Cryofluid Mixer
</p>

<p>
    Phyratite Mixer
</p>

<p>
    Blast Mixer
</p>

<p>
    Melter
</p>

<p>
    Separator
</p>

<p>
    Disassembler
</p>

<p>
    Spore Press
</p>

<p>
    Pulverizer
</p>

<p>
    Coal Centrifuge
</p>

<p>
    Incinirator
</p>

<p>Units</p>

<p>
    Ground Factory
</p>

<p>
    Air Factory
</p>

<p>
    Naval Factory
</p>

<p>
    Additive Reconstructor
</p>

<p>
    Multiplacative Reconstructor
</p>

<p>
    Exponential Reconstructor
</p>

<p>
    Tetrative Reconstructor
</p>

<p>
    Repair Point
</p>

<p>
    Repair turret
</p>

<p>
    Payload Conveyor
</p>

<p>
    Payload Router
</p>

<p>Miscellaneous</p>

<p>
    Mender
</p>

<p>
    Mend Projector
</p>

<p>
    Overdrive Projector
</p>

<p>
    Overdrive Dome
</p>

<p>
    Force Projector
</p>

<p>
    Shock Mine
</p>

<p>
    Core: Shard
</p>

<p>
    Core: Foundation
</p>

<p>
    Core: Nucleus
</p>

<p>
    Container
</p>

<p>
    Vault
</p>

<p>
    Unloader
</p>

<nav class="nav-bottom">
    <ul class="nav-bottom-links">
        <li><a href="/builds"><- Back</a></li>
        <li><a href="/download">Next -></a></li>
    </ul>
</nav>

{% endblock %}