{% extends 'layout.html' %}
{% block content %}

<p>builds</p>

<p>Turrets</p>

<p>Duo</p>
<p>Is a beginning turret in the game. It can fires alternating bullets at enemies</p>
<p>General</p>
<p>
    Health: 250<br>
    Size: 1x1<br>
    Buid Time: 0.29 seconds<br>
    Build Cost: <img style="width: 20px" src="\static\images\Copper.png" alt="Copper"> 35
</p>
<p>Liquids</p>
<p>
    Liquid Capacity: <img style="width: 20px" src="\static\images\Liquid.png" alt="Liquid"> 20 liquid units
</p>
<p>Function</p>
<p>
    Range: 13.75 blocks<br>
    Inaccuracy: 2 degrees<br>
    Firing Rate: 3/sec<br>
    Targets Air: Yes<br>
    Targets Ground: Yes
</p>
<p>Ammo</p>
<p><img style="width: 20px" src="\static\images\Copper.png" alt="Copper"> Copper</p>
<p>
    Damage: 9<br>
    Ammo Multiplier: 2x
</p>
<p><img style="width: 20px" src="\static\images\Graphite.png" alt="Graphite"> Graphite</p>
<p>
    Damage: 18<br>
    Ammo Multiplier: 4x<br>
    Fire Rate: -39.0%
</p>
<p><img style="width: 20px" src="\static\images\Silicon.png" alt="Silicon"> Silicon</p>
<p>
    Damage: 12<br>
    Ammo Multiplier: 5x<br>
    Fire Rate: +50%<br>
    Special Ability: Homing
</p>
<p>Optional Enhancements</p>
<p>Booster</p>
<p><img style="width: 20px" src="\static\images\Water.png" alt="Water"> Water</p>
<p>
    Usage: 6/sec<br>
    Fire Rate: 120%
</p>
<p><img style="width: 20px" src="\static\images\Cryofluid.png" alt="Cryofluid"> Cyrofluid</p>
<p>
    Usage: 6/sec<br>
    Fire Rate: 145%
</p>

<p>Scatter</p>
<p>Is a beggining turret that can shoots air units. It fires clump of lead, scrap or metaglass flak at enemy aircraft</p>
<p>General</p>
<p>
    Health: 800<br>
    Size: 2x2<br>
    Buid Time: 1.23 seconds<br>
    Build Cost: <img style="width: 20px" src="\static\images\Copper.png" alt="Copper"> 85 <img style="width: 20px" src="\static\images\Lead.png" alt="Lead"> 45
</p>
<p>Liquids</p>
<p>
    Liquid Capacity: <img style="width: 20px" src="\static\images\Liquid.png" alt="Liquid"> 20 liquid units
</p>
<p>Function</p>
<p>
    Range: 27.5 blocks<br>
    Inaccuracy: 17 degrees<br>
    Firing Rate: 6.66/sec<br>
    Targets Air: Yes<br>
    Targets Ground: No
</p>
<p>Ammo</p>
<p><img style="width: 20px" src="\static\images\Lead.png" alt="Lead"> Lead</p>
<p>
    Damage: 3<br>
    Area Damage: 40 ~ 1.8 tiles<br>
    Ammo Multiplier: 4x
</p>
<p><img style="width: 20px" src="\static\images\Metaglass.png" alt="Metaglass"> Metaglass</p>
<p>
    Damage: 3<br>
    Area Damage: 45 ~ 2.5 tiles<br>
    Ammo Multiplier: 5x<br>
    Frag Bullets: 6x - 5 damage<br>
    Fire Rate: -20%
</p>
<p><img style="width: 20px" src="\static\images\Scrap.png" alt="Scrap"> Scrap</p>
<p>
    Damage: 3<br>
    Area Damage: 33 ~ 3.0 tiles<br>
    Ammo Multiplier: 5x<br>
    Fire Rate: -50%
</p>
<p>Optional Enhancements</p>
<p>Booster</p>
<p><img style="width: 20px" src="\static\images\Water.png" alt="Water"> Water</p>
<p>
    Usage: 12/sec<br>
    Fire Rate: 140%
</p>
<p><img style="width: 20px" src="\static\images\Cryofluid.png" alt="Cryofluid"> Cyrofluid</p>
<p>
    Usage: 12/sec<br>
    Fire Rate: 190%
</p>

<p>Scorch</p>
<p>Is a fire-shooting turret on land on close range.</p>
<p>General</p>
<p>
    Health: 400<br>
    Size: 1x1<br>
    Buid Time: 0.57 seconds<br>
    Build Cost: <img style="width: 20px" src="\static\images\Copper.png" alt="Copper"> 25 <img style="width: 20px" src="\static\images\Graphite.png" alt="Graphite"> 22
</p>
<p>Liquids</p>
<p>
    Liquid Capacity: <img style="width: 20px" src="\static\images\Liquid.png" alt="Liquid"> 20 liquid units
</p>
<p>Function</p>
<p>
    Range: 7.5 blocks<br>
    Inaccuracy: 0 degrees<br>
    Firing Rate: 10/sec<br>
    Targets Air: No<br>
    Targets Ground: Yes
</p>
<p>Ammo</p>
<p><img style="width: 20px" src="\static\images\Coal.png" alt="Coal"> Coal</p>
<p>
    Damage: 17<br>
    Ammo Multiplier: 3x<br>
    Special Ability: Pierce, Burning ~ 4 seconds
</p>
<p><img style="width: 20px" src="\static\images\Pyratite.png" alt="Pyratite"> Pyratite</p>
<p>
    Damage: 60<br>
    Ammo Multiplier: 6x<br>
    Special Ability: Pierce, Burning ~ 10 seconds
</p>
<p>Optional Enhancements</p>
<p>Booster</p>
<p><img style="width: 20px" src="\static\images\Water.png" alt="Water"> Water</p>
<p>
    Usage: 6/sec<br>
    Fire Rate: 106%
</p>
<p><img style="width: 20px" src="\static\images\Cryofluid.png" alt="Cryofluid"> Cyrofluid</p>
<p>
    Usage: 6/sec<br>
    Fire Rate: 113.5%
</p>

<p>Hail</p>
<p>Is a long-range turret that can shoots smalls shells at ground units</p>
<p>General</p>
<p>
    Health: 260<br>
    Size: 1x1<br>
    Buid Time: 0.61 seconds<br>
    Build Cost: <img style="width: 20px" src="\static\images\Copper.png" alt="Copper"> 40 <img style="width: 20px" src="\static\images\Graphite.png" alt="Graphite"> 17
</p>
<p>Liquids</p>
<p>
    Liquid Capacity: <img style="width: 20px" src="\static\images\Liquid.png" alt="Liquid"> 20 liquid units
</p>
<p>Function</p>
<p>
    Range: 29.37 blocks<br>
    Inaccuracy: 1 degrees<br>
    Firing Rate: 1/sec<br>
    Targets Air: No<br>
    Targets Ground: Yes
</p>
<p>Ammo</p>
<p><img style="width: 20px" src="\static\images\Graphite.png" alt="Graphite"> Graphite</p>
<p>
    Area Damage: 33 ~ 2.3 tiles<br>
    Ammo Multiplier: 2x<br>
    Knockback: 0.8
</p>
<p><img style="width: 20px" src="\static\images\Silicon.png" alt="Silicon"> Silicon</p>
<p>
    Area Damage: 33 ~ 2.3 tiles<br>
    Ammo Multiplier: 3x<br>
    Fire Rate: +20%<br>
    Knockback: 0.8<br>
    Special Ability: Homing
</p>
<p><img style="width: 20px" src="\static\images\Pyratite.png" alt="Pyratite"> Pyratite</p>
<p>
    Area Damage: 45 ~ 2.3 tiles<br>
    Ammo Multiplier: 4x<br>
    Knockback: 0.8<br>
    Special Ability: Burning ~ 12 seconds
</p>
<p>Optional Enhancements</p>
<p>Booster</p>
<p><img style="width: 20px" src="\static\images\Water.png" alt="Water"> Water</p>
<p>
    Usage: 6/sec<br>
    Fire Rate: 120%
</p>
<p><img style="width: 20px" src="\static\images\Cryofluid.png" alt="Cryofluid"> Cyrofluid</p>
<p>
    Usage: 6/sec<br>
    Fire Rate: 145%
</p>

<p>Wave</p>
<p>Is a liquid-shooter turret that can shoots liquid at units and extinguish fires around your base when supplied with water</p>
<p>General</p>
<p>
    Health: 1000<br>
    Size: 2x2<br>
    Buid Time: 2.2 seconds<br>
    Build Cost: <img style="width: 20px" src="\static\images\Copper.png" alt="Copper"> 25 <img style="width: 20px" src="\static\images\Lead.png" alt="Lead"> 75 <img style="width: 20px" src="\static\images\Metaglass.png" alt="Metaglass"> 45
</p>
<p>Function</p>
<p>
    Range: 13.75 blocks<br>
    Inaccuracy: 5 degrees<br>
    Firing Rate: 20/sec<br>
    Targets Air: Yes<br>
    Targets Ground: Yes
</p>
<p>Ammo</p>
<p><img style="width: 20px" src="\static\images\Water.png" alt="Water"> Water</p>
<p>
    Knockback: 0.8<br>
    Special Ability: Wet ~ 2 seconds
</p>
<p><img style="width: 20px" src="\static\images\Slag.png" alt="Slag"> Slag</p>
<p>
    Damage: 4<br>
    Knockback: 0.55<br>
    Special Ability: Melting ~ 2 seconds
</p>
<p><img style="width: 20px" src="\static\images\Oil.png" alt="Oil"> Oil</p>
<p>
    Knockback: 0.55<br>
    Special Ability: Tarred ~ 2 seconds
</p>
<p><img style="width: 20px" src="\static\images\Cyrofluid.png" alt="Cyrofluid"> Oil</p>
<p>
    Knockback: 0.55<br>
    Special Ability: Freezing ~ 2 seconds
</p>

<p>Lancer</p>

<p>
    Arc
</p>

<p>
    Parallax
</p>

<p>
    Swarmer
</p>

<p>
    Salvo
</p>

<p>
    Segment
</p>

<p>
    Tsunami
</p>

<p>
    Fuse
</p>

<p>
    Ripple
</p>

<p>
    Cyclone
</p>

<p>
    Foreshadow
</p>

<p>
    Spectre
</p>

<p>
    Meltdown
</p>

<p>Extractors</p>

<p>
    Mechanical Drill
</p>

<p>
    Pneumatic Drill
</p>

<p>
    Laser Drill
</p>

<p>
    Airblast Drill
</p>

<p>
    Water Extractor
</p>

<p>
    Cultivator
</p>

<p>
    Oil Extractor
</p>

<p>Transportation</p>

<p>
    Conveyor
</p>

<p>
    Titanium Conveyor
</p>

<p>
    Plastanium Conveyor
</p>

<p>
    Armored Conveyor
</p>

<p>
    Junction
</p>

<p>
    Bridge Conveyor
</p>

<p>
    Phase conveyor
</p>

<p>
    Sorter
</p>

<p>
    Inverted Sorter
</p>

<p>
    Router
</p>

<p>
    Distributor
</p>

<p>
    Overflow Gate
</p>

<p>
    Underflow Gate
</p>

<p>
    Mass Driver
</p>

<p>Liquids</p>

<p>
    Mechanical Pump
</p>

<p>
    Rotary Pump
</p>

<p>
    Impulse Pump
</p>

<p>
    Conduit
</p>

<p>
    Pulse Conduit
</p>

<p>
    Plated Conduit
</p>

<p>
    Liquid Router
</p>

<p>
    Liquid Container
</p>

<p>
    Liquid Tank
</p>

<p>
    Liquid junction
</p>

<p>
    Bridge Conduit
</p>

<p>
    Phase Conduit
</p>

<P>Power</P>

<p>
    Power Node
</p>

<p>
    Large Power Node
</p>

<p>
    Surge Tower
</p>

<p>
    Battery Diode
</p>

<p>
    Battery
</p>

<p>
    Large Battery
</p>

<p>
    Combustion Generator
</p>

<p>
    Thermal Generator
</p>

<p>
    Steam Generator
</p>

<p>
    Differental Generator
</p>

<p>
    RTG Generator
</p>

<p>
    Solar Panel
</p>

<p>
    Large Solar Panel
</p>

<p>
    Thorium Reactor
</p>

<p>
    Impact reactor
</p>

<p>Walls</p>

<p>
    Copper Wall
</p>

<p>
    Titanium Wall
</p>

<p>
    Plastanium Wall
</p>

<p>
    Thorium Wall
</p>

<p>
    Phase Wall
</p>

<p>
    Surge Wall
</p>

<p>
    Door
</p>

<p>Resources and Production</p>

<p>
    Graphite Press
</p>

<p>
    Multi-Press
</p>

<p>
    Silicon Smelter
</p>

<p>
    Silicon Crucible
</p>

<p>
    Kiln
</p>

<p>
    Plastanium Compressor
</p>

<p>
    Phase Weaver
</p>

<p>
    Surge Smelter
</p>

<p>
    Cryofluid Mixer
</p>

<p>
    Phyratite Mixer
</p>

<p>
    Blast Mixer
</p>

<p>
    Melter
</p>

<p>
    Separator
</p>

<p>
    Disassembler
</p>

<p>
    Spore Press
</p>

<p>
    Pulverizer
</p>

<p>
    Coal Centrifuge
</p>

<p>
    Incinirator
</p>

<p>Units</p>

<p>
    Ground Factory
</p>

<p>
    Air Factory
</p>

<p>
    Naval Factory
</p>

<p>
    Additive Reconstructor
</p>

<p>
    Multiplacative Reconstructor
</p>

<p>
    Exponential Reconstructor
</p>

<p>
    Tetrative Reconstructor
</p>

<p>
    Repair Point
</p>

<p>
    Repair turret
</p>

<p>
    Payload Conveyor
</p>

<p>
    Payload Router
</p>

<p>Miscellaneous</p>

<p>
    Mender
</p>

<p>
    Mend Projector
</p>

<p>
    Overdrive Projector
</p>

<p>
    Overdrive Dome
</p>

<p>
    Force Projector
</p>

<p>
    Shock Mine
</p>

<p>
    Core: Shard
</p>

<p>
    Core: Foundation
</p>

<p>
    Core: Nucleus
</p>

<p>
    Container
</p>

<p>
    Vault
</p>

<p>
    Unloader
</p>

<nav class="nav-bottom">
    <ul class="nav-bottom-links">
        <div id="arrow-left">
            <li><a href="/items"><- Back</a></li>
        </div>
        <div id="arrow-right">
            <li><a href="/download">Next -></a></li>
        </div>
    </ul>
</nav>

{% endblock %}