{% extends 'layout.html' %}
{% block content %}

<video autoplay muted loop id="myVideo">
  <source src="\static\images\Background_Loop.mp4" type="lol">
</video>

<h1 style="color:rgb(255, 255, 0);">Home</h1>

<p>
    Mindustry is a tower defence game that you can collect resources, making factories to make new materials, creating new robots to conquer other teratory and explore new stuff in the solar system.
</p>

<p>
    Collect - Collect resources found around the planet.
</p>

<p>
    Defence - Defend your base with the next upcoming attack
</p>

<p>
    Destroy - Destroy your enemy base with your units
</p>
<p>Destruction - This game is filled with chaos</p>

<img style="margin-left: auto;margin-right: auto; text-align: justify;" src="\static\images\building_tracks.gif" alt="tracks">
<img style="margin-left: auto;margin-right: auto; text-align: justify;" src="\static\images\destruction.gif" alt="hi">

<nav class="nav-bottom">
    <ul class="nav-bottom-links">
        <li><a href="/tutorial">Next -></a></li>
    </ul>
</nav>

{% endblock %}