{% extends 'layout.html' %}
{% block content %}

<h1>Items</h1>

<h2>Source</h2>

<img src="\static\images\Copper.png" alt="Copper">
<p>Copper – is a first item source in the game. It can be found around the map. It is used for create mostly of any structure such as drills, conveyors, walls, turrets, generators, factories, and units. It is also used for early ammunition for duo and salvo, and it is also a single item that can be craft called surge alloy.</p>


<img src="\static\images\Lead.png" alt="Lead">
<p>Lead – is a second item source in the game. It can be found around the map. It is used for liquid transportation, electrical structures and sometimes any structure such as drills, conveyors, conduit, turrets, generators, factories, walls and units. It is also used for early ammunition for scatter which can target any aircraft, and it also can craft items such as Metaglass, Pyratite, and surge alloy. </p>

<img src="\static\images\Coal.png" alt="Coal">
<p>Coal – is a flammable item source mostly found in the map. It is used for making power for generators and craft items such as Graphite, Silicon, Oil and Pyratite. It also only uses ammunition for scorch.</p>

<img src="\static\images\Sand.png" alt="Sand">
<p>Sand - is a refinable item source mostly found on the map. It is used to craft some items such as Metaglass, Phyratite, Phase Fabric and sometimes Silicon.</p>

<img src="\static\images\Titanium.png" alt="Titanium">
<p>Titanium – is a craftable item source sometimes found in the map. It is used to craft liquid and material transportation, drills, factories, generators, walls, and units. It is also only ammunition used for Fuse, and it also can craft items such as Plastanium, Cryofluid and Surge Alloy.</p>

<img src="\static\images\Thorium.png" alt="Thorium">
<p>Thorium – is a radioactive item source rarely found in the map. It is used for nuclear fuel and durable structures such as drills, conveyors, conduits, walls, turrets, generators, factories, and units. It is also used for ammunition for rapid fire turrets such as Salvo and Spectre, and it can also be craft items such as Phase Fabric and Surge Alloy.</p>

<img src="\static\images\Scrap.png" alt="Scrap">
<p>Scrap – is a leftover item source from the old structures and unlikely found in the map. It is used for melters and pulverizes and turned a different type of items such as Slag and Sand. It is also used for early ammunition for scatter which can target any aircraft.</p>

<img src="\static\images\Spore_Pod.png" alt="Spore Pod">
 <p>Spore Pod – is a mineable item source by using a cultivator. It is used for conversion into oil by using a spore press, explosiveness and fuel like generators. It is also a single item that can be crafted called Blast Compound.</p>

<h2>Craftable</h2>

<img src="\static\images\Graphite.png" alt="Graphite">
<p>Graphite – is a craftable item with a coal for graphite press or coal and water for Multi-Press. It is used for electrical components and some other structures such as drills, conveyors, conduits, generators, factories, turret, and units. It is also used for ammunition for almost every turret, especially long-range unit like Duo, Hail, Salvo, Ripple, and Spectre.</p>

<img src="\static\images\Silicon.png" alt="Silicon">
<p>Silicon – is a craftable item combine with a coal and sand for silicon smelter or coal, sand, and pyratite for Silicon Crucible. It is used for almost everything like sonal panels, complex electronics like energy transportation, energy storage, harvest energy, and other structures such as phase conveyors, phase conduits, doors, generators, factories, and units. It is also used for ammunition that can homing like Duo, Hail, Salvo and Ripple. It can craft items such as Surge Alloy.</p>

<img src="\static\images\Metaglass.png" alt="Metaglass">
<p>Metaglass – is a craftable item combine with sand and lead for Kiln. It is used in liquid distribution / storage structures and other structures such as Water Extractors, Water Pump,	Water turrets, generators, and units. It is also used for ammunition like scatter and cyclone.</p>

<img src="\static\images\Plastanium.png" alt="Plastanium">
<p>Plastanium – is a craftable item combine with titanium and oil for Plastanium Compressor. It is used in advanced units and other structures like Conveyor, Turrets, generators, Walls and Factory. It is also used for insulation and fragmentation ammunition for turrets like Ripple and Cylone.</p>

<img src="\static\images\Phase_Fabric.png" alt="Phase Fabric">
<p>Phase Fabric – is a craftable item combine with Thorium and Sand for Phase Weaver. It is used for other structures like Segments, Phase Conveyors, Phase Conduit, Generator, Walls, and Units.</p>

<img src="\static\images\Surge_Alloy.png" alt="Surge Alloy">
<p>Surge Alloy – is a strongest or electric craftable item combine with copper, lead, titanium, and silicon for Surge Smelter. It is used for advanced weaponry and reactive defense structure like Turrets, Generator, Walls and Units. It is also used for ammunition that can electrocutes like Swarmer, Cyclone and Foreshadow.</p>

<img src="\static\images\Pyratite.png" alt="Pyratite">
<p>Pyratite – is a flammable craftable item combine with Coal, Lead, and Sand for Pyratite Mixer. It is used in incendiary weapons for ammunition like Scorch, Hail, Swarmer, Salvo, Ripple and Spectre. It is also used for combustion-fueled generators like differential generator. It can craft items such as Blast Compound.</p>

<img src="\static\images\Blast_Compound.png" alt="Blast Compound">
<p>Blast Compound – is an explosive craftable item combine with Pyratite and Spore Pod for Blast Mixer. It is used in bombs and explosive ammunition for turrets like Swarmer, Ripple and Cyclone.</p>

<h2>Fluids</h2>

<img src="\static\images\Water.png" alt="Water">
<p>Water – is a liquid fluid that can be found unlikely around the map. It is used for cooling machines and waste processing. It is also used to extinguish fires by using Wave and Tsunami for ammunition and it can also be used as a faster fire rate of almost any turrets.</p>

<img src="\static\images\Slag.png" alt="Slag">
<p>Slag – is a lava liquid fluid that can be found rarely around the map. It can be crafted by using scrap with a meter and it is used for liquid turret ammunition such as Wave and Tsunami.</p>

<img src="\static\images\Oil.png" alt="Oil">
<p>Oil – is a liquid fluid that can be found rarely around the map. It is used in advance materia production like Plastanium and it is used for liquid turret ammunition such as Wave and Tsunami.</p>

<img src="\static\images\Cryofluid.png" alt="Cryofluid">
<p>Cryofluid – is a cold liquid fluid that can be crafted combine with a titanium and water for using Cryofluid Mixer. It is used as a coolant in reactors or generators. It is also used to extinguish fires by using Wave and Tsunami for ammunition, it can be also used as a faster fire rate for almost any turrets.</p>

<nav class="nav-bottom">
    <ul class="nav-bottom-links">
        <div id="arrow-left">
            <li><a href="/tutorial"><- Back</a></li>
        </div>
        <div id="arrow-right">
            <li><a href="/builds">Next -></a></li>
        </div>
    </ul>
</nav>

{% endblock %}
