<!doctype html>
<html>
  <head>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/mainpage.css') }}"> 
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Sansation:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&display=swap">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Anta&display=swap">
    
    <title>Mindustry Beginners Guide</title>
  </head>
  <body>
    {% include 'nav.html' %}
    {% block content %}{% endblock %}
    {% include 'footer.html' %}
    <script src="{{ url_for('static', filename='js/mainpage.js') }}"></script>
  </body>
</html>